@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.75s;
}

.collapsible::after {
  content: "\276E";
  transform: rotate(-90deg);
  transition: transform 0.18s ease-in-out;
}

.active::after {
  content: "\276E";
  transform: rotate(90deg);
  transition: transform 0.18s ease-in-out;
}
/* section animations */
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease-in-out 0.15s;
}
/* section 1 animations */
.hello {
  animation: fadeInUp .75s ease backwards 0.15s;
}

.intro {
  animation: fadeInUp .75s ease backwards 0.35s;
}

.link {
  animation: fadeInUp .75s ease backwards 0.65s;
}

.recent {
  animation: fadeInUp .70s ease backwards 0.80s;
  z-index: 3;
}
/* contact buttons */
.button1 {
  animation: button .75s ease-in-out 0.35s;
  z-index: 3;
}
.button2 {
  animation: button .75s ease-in-out 0.55s;
  z-index: 3;

}
.button3 {
  animation: button .75s ease-in-out 0.75s;
  z-index: 3;
}
.button4 {
  animation: button .85s ease-in-out 0.95s;
  z-index: 3;
}

/*  */
*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

.box {
  --x-px: calc(var(--x) * 1px);
  --y-px: calc(var(--y) * 1px);
  overflow: hidden;
}
.box:before, .box:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(850px circle at var(--x-px) var(--y-px), rgba(36, 80, 124, 0.35), transparent 35%);
}
.box:before {
  z-index: -1;
}
.box:after {
  opacity: 0;
  z-index: 2;
  transition: opacity 0.7s ease;
}
.box:hover:after {
  opacity: 1;
}
/*  */

@layer utilities {

  .section {
    display: none;
  }

  /* .red {
      border: red solid 1px;
    } */

  .tab {
    cursor: pointer;
    margin: 0 10px;
    text-decoration: underline;
    text-decoration-color: #383333;
    text-underline-offset: 5px;
    display: inline-block;
    transition: text-decoration-color 0.6s ease;
  }

  .tab:hover {
    text-decoration-color: rgb(100 116 139);
  }

  .active2,
  .tab:hover {
    text-decoration-color: rgb(249 250 251);
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes button {
    0% {
      color: rgb(161 161 170);
    }

    50% {
      color: #ffff;
      background-color: rgba(255, 255, 255, 0.05);
      
    }

    100% {
      color: rgb(161 161 170);
    }
  }
}