@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

.collapsible::after {
  content: "\276E";
  transform: rotate(-90deg);
  transition: transform 0.15s ease-in-out;
}
.active::after {
  content: "\276E";
  transform: rotate(90deg);
  transition: transform 0.15s ease-in-out;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease 0.15s;
}


@layer utilities {

    .section {
      display: none;
    }

    /* .red {
      border: red solid 1px;
    } */

    .tab {
      cursor: pointer;
      margin: 0 10px;
      text-decoration: underline;
      text-decoration-color: #383333;
      text-underline-offset: 5px;
      display: inline-block;
      transition: text-decoration-color 0.6s ease;
    }

    .tab:hover {
      text-decoration-color:rgb(100 116 139);
    }
    
    .active2, .tab:hover  {
      text-decoration-color: rgb(249 250 251);
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 0.75s;
    }
    
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
}
    
